---
layout: intro
title: Projects
description: "「To boldly go where no one has gone before」"
header-img: "img/about-bg-walle.jpg"
permalink: /projects/
navigation_weight: 10
---

{% for post in site.projects %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
            {{ post.content | strip_html | truncate:300 }}
            {% else %}
            {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on
        {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}